@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat&display=swap');
* {
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(188, 78, 156);
  background: linear-gradient(
    138deg,
    rgba(188, 78, 156, 1) 15%,
    rgba(248, 7, 89, 1) 86%
  );
}

.score--text,
.ld--text {
  color: white;
  font-size: 22px;
  font-family: 'Lato';
  line-height: 1.75rem;
}
.btn--reset {
  margin: 1em 0;
  background-color: transparent;

  border: 3px solid rgb(255, 127, 80);
  border-radius: 10px;
  font-size: 24px;
  font-family: 'Lato';
  height: 50px;
  width: 150px;
  font-size: 16px;
  color: white;
}
.btn--reset:hover {
  background-color: rgb(219, 112, 147);
}
